# Rust / Cargo
/target
**/*.rs.bk
# soroban-sdk testutils snapshot files
crates/**/test_snapshots

# Soroban
.wasm-opt
*.wasm
!examples/**/*.wasm

# Node / TypeScript
node_modules/
dist/
build/
*.tsbuildinfo

# Environment & secrets
.env
.env.*
!.env.example

# Editors & OS
.idea/
.vscode/
*.swp
.DS_Store
